---
layout: default
title: prototypes
description: prototypes by blaze
is_home: true
gradient: true
---

<article class="box">
  {% for page in site.pages %}
    {% if page.path contains '.html' and page.path != 'index.html' and page.path != '404.html' %}
      <a class="list-item" href="{{ site.baseurl }}/{{ page.path | replace: '.html', '' }}">
        {{ page.name | replace: '.html', '' | replace: '-', ' ' }} 
        <small>{{ page.description }}</small>
      </a>
    {% endif %}
  {% endfor %}
</article>