// Fonts
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

// Color variables
:root {
    --primary-color: rgb(21, 23, 100);
    --secondary-color: rgb(255, 68, 146);
    --tertiary-color: rgb(48, 53, 192);
    --quaternary-color: red;
} 